body,
ul,
li {
    font-family: 'Lora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(230, 226, 223);
}

header {
    background-color: rgb(230, 226, 223);
    text-align: center;
    position: relative;
    width: 100%;
}

.title {
    color: white;
    width: 100%;
    background-color: rgb(35, 32, 24);
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.banner {
    height: 300px;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
}

h2, h3 {
    text-align: center;
}

th {
    text-align: center;
}

/* Formulário centralizado */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.resumo-ellipsis {
    max-width: 200px; /* você pode ajustar esse valor conforme o layout da sua tabela */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resumo-ellipsis:hover {
    overflow: visible;
    white-space: normal;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    padding: 4px;
    border: 1px solid #ccc;
}

#nome, #autor, #genero, #resumo, #status {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#resumo {
    height: 100px;
}

button[type="submit"] {
    background-color: rgb(35, 32, 24);
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}

button[type="submit"]:hover {
    background-color: #2ab53a;
}

/* Estilos para as tabelas */
table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 12px 8px;
    font-size: 18px;
    text-align: start;
    transition: 0.2s;
}

table {
    background-color: white;
    width: 80%;
    margin: 20px auto;
}

tr:nth-child(odd) {
    background-color: #eee;
}

tr:hover {
    background: rgb(200, 199, 199);
}
